body{
    background:linear-gradient(to right,rgb(25, 25, 129),rgb(1, 1, 44))
}
.selecao{
    background-color: rgba(13, 30, 63, 0.83);
    color: red;
    border: none;
    border-radius: 20px;
    margin: 10px 50px 10px 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    text-align: center;
    color: white;
}
.aviso{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    text-align:center;
    width: auto;height: auto;
    font-weight: bold;
    color: white;
    
}
.painel{
    background-color: rgb(5, 11, 22,0.94);;padding-top: 10px;padding-bottom: 100px;
    margin: 140px 350px 150px 350px;
    border-radius: 40px;
    position: relative;
    top:70px;
}
img{
    width: 40px;height: 40px;
    position: relative;
    right:10px;
    top: 10px;
}
a.b1{
    background-color: #505350; 
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  
}
a.b1:hover{
    background-color: #b0b4b0; 
  color: rgb(87, 87, 87);
  padding: 14px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  
}
a.b2{
    background-color: #505350; 
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    
}
a.b2:hover{
    background-color: #b0b4b0; 
    color: rgb(87, 87, 87);
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    
}
a.b3{
    background-color: #505350; 
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    
}
a.b3:hover{
    background-color: #b0b4b0; 
    color: rgb(87, 87, 87);
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
     
}
a.b4{
    background-color: #505350; 
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    
}
a.b4:hover{
    background-color: #b0b4b0; 
    color: rgb(87, 87, 87);
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    
}
a.b5{
    background-color: #505350; 
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    
}
a.b5:hover{
    background-color: #b0b4b0; 
    color: rgb(87, 87, 87);
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
     
}
.botoes{
    text-align: center;
    word-spacing: 40px;
    margin-top: 40px;
}
